<div class="container">
  <ol>
    <li>
      Add a Input field which updates a property ('username') via
      Two-Way-Binding
    </li>
    <li>
      Output the username property via String Interpolation (in a paragraph
      below the input)
    </li>
    <li>
      Add a button which may only be clicked if the username is NOT an empty
      string
    </li>
    <li>
      Upon clicking the button, the username should be reset to an empty string
    </li>
  </ol>

  <br />

  <div class="mb-3">
    <label for="username" class="form-label">Enter your username</label>
    <input
      type="text"
      id="username"
      class="form-control"
      [(ngModel)]="username"
      placeholder="username"
    />
    <p class="form-text">{{ username }}</p>
  </div>
  <button
    [disabled]="username === ''"
    class="btn btn-primary"
    (click)="onResetButtonClicked()"
  >
    Clear name
  </button>
</div>
