<div class="container">
  <app-cockpit (serverCreated)="onCreateServer($event)" />
  <hr />

  <div class="row">
    <div class="col-xs-12">
      <button type="button" class="btn btn-primary" (click)="onChangeFirst()">
        Change first Element
      </button>
      <button type="button" class="btn btn-danger" (click)="onDestroyFirst()">
        Change first Element
      </button>
      @for (element of serverElements; track $index) {
      <app-server-element [name]="element.name">
        @if (element.type === 'server') {
        <strong style="color: red">{{ element.content }}</strong>
        } @else {
        <em>{{ element.content }}</em>
        }
      </app-server-element>
      }
    </div>
  </div>
</div>
