<nav class="navbar navbar-default bg-body-tertiary">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand"> Recipe Book Hello it's me </a>
    </div>

    <div class="inline-flex gap-24">
      <ul class="nav navbar-nav display-flex-row gap-24">
        <li class="navitem"><a href="#" class="nav-link">Recipes</a></li>
        <li class="navitem"><a href="#" class="nav-link">Shopping list</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown navitem">
          <a href="#" class="dropdown-toggle nav-link" role="button">
            Manage <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Save Data</a></li>
            <li><a href="#">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
