<label for="server-name">Server name</label>
<!-- <input
  type="text"
  id="server-name"
  class="form-control"
  (input)="onInputServerNameChange($event)"
/> -->
<input
  type="text"
  id="server-name"
  class="form-control"
  [(ngModel)]="serverName"
/>

<hr />
<div>
  <p>servers works!</p>
  <app-server />

  <hr />

  <p class="bg-primary badge" [innerText]="'And the name is ' + serverName"></p>

  <hr />

  <button
    class="btn btn-primary"
    [disabled]="!isSeverAllowed"
    (click)="onCreateServer()"
  >
    Add Servers
  </button>

  <p>Add to server: {{ isSeverAllowed }}</p>
  <p *ngIf="serverCreated">{{ serverCreationStatus }}</p>
  <!-- <p [innerText]="isSeverAllowed"></p> -->
</div>
