<label for="server-name">Server name</label>
<!-- <input
  type="text"
  id="server-name"
  class="form-control"
  (input)="onInputServerNameChange($event)"
/> -->
<input
  type="text"
  id="server-name"
  class="form-control"
  [(ngModel)]="serverName"
/>

<hr />
<div>
  <p>servers works!</p>
  <!-- Old angular syntax -->
  <!-- <app-server *ngFor="let server of servers" [serverId]="server" /> -->
  <!-- !New Angular 17 syntax -->
  @for (server of servers; track server) {
  <app-server [serverId]="server" />
  }

  <hr />

  <p class="bg-primary badge" [innerText]="'And the name is ' + serverName"></p>

  <hr />

  <button
    class="btn btn-primary"
    [disabled]="!isSeverAllowed"
    (click)="onCreateServer()"
  >
    Add Servers
  </button>

  <p>Add to server: {{ isSeverAllowed }}</p>

  <!-- The below is a way of doing this prior to Angular 17 -->
  <!-- <p *ngIf="serverCreated; else noServer">{{ serverCreationStatus }}</p>
  <ng-template #noServer>
    <p>No server was created</p>
  </ng-template> -->
  <!-- ! Angular 17 syntax -->
  @if (serverCreated) {
  <p>{{ serverCreationStatus }}</p>
  } @else {
  <p>No server was created</p>
  }

  <!-- <p [innerText]="isSeverAllowed"></p> -->
</div>
